.about-section{
    margin-top: 50px ;
    margin-left: 50px;
}
.about-row-0{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about-row-1{
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.col-order-0{
    width: 40%;
}
.col-order-1{
    width: 40%;
}
.feature-title-custom h6, .feature-title-custom h3{
    font-family: "Courier New", monospace;
}
.section-caption{
    text-transform: capitalize;
    margin: -10px 0px auto;
    font-size: 19px;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
    color: #249976;
    margin-bottom: 15px
}
.section-subtitle-sm{
    font-size: 20px;
    line-height: 19px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 20px;
    font-family: "Courier New", monospace;
}
.topBottom {
    animation: topBottom 5s infinite;
}
@-webkit-keyframes topBottom {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 20px);
              transform: translate(0, 20px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  
  @keyframes topBottom {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 20px);
              transform: translate(0, 20px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
